#conteneur {
    background-color: aqua;
    display: grid;
    grid-template-rows: 80px 80px 80px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    width: 500px;
    grid-template-areas:
        "header  header  header  header"
        "nav     nav     nav    nav"
        "aside   main   main    main"
        "aside   main   main    main"
        "footer  footer  footer  footer";
    grid-gap: 3px;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

aside {
    grid-area: aside;
}

h1 {
    grid-area: main;
}

footer {
    grid-area: footer;
}